#container {
	display: flex;
  box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 6px solid black;
	resize: both;
	overflow: auto;
	max-width: 100%;
	max-height: 100%;
}

#iconHolder {
    width: max(1px, 4em, 90%);
	height: max(150px, 90%);
  box-sizing: border-box;
  border: 6px solid blue;
}
