@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

*{
    font-family: 'Workbench', sans-serif;
}

.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: red;
  }