.container {
    display: grid;
    grid-template: 100px 100px 100px / 100px 100px 100px;
  }
  
  .item {
    background-color: orange;
    border: 1px solid black;
    text-align: center;
  }
  
  .first-row {
    background-color: pink; 
  }
  
  .last-column {
    background-color: lightblue; 
  }

  /*
  Div Containing C has class first-row and last-column
  Last one declared is what is applied therefore last-column^ in this case.
  */